<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container-acerca">
    <div class="profile-container">
      <img src="/assets/images/my-photo.png" alt="Mi foto" width="200" height="200">
    </div>
    <div class="brief-presentation">
      <h4>Realizado por:</h4>
      <h2>Charles Alexandre MEANCE</h2>
      <p>Yo soy un estudiante de Software del ITLA identificado por la siguiente matricula: <span>2020-9503</span>. El proposito de esta aplicaci&oacute;n es brindar un interfaz UI a fin de usar algunas API😊. Tiene una app en mente? Contactame aqu&iacute;:</p>
    </div>
  </div>
  <div class="social-media">
    <a href="https://www.linkedin.com/in/charles-alexandre">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    <a href="www.whatsapp.com">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </a>
    <a href="www.gmail.com">
      <ion-icon name="mail-outline"></ion-icon>
    </a>
  </div>
</ion-content>
