ion-title.title-large {
    color: white;
    font-size: 24px;
  }
  
  ion-title {
    --color: white;
  }
  
  ion-toolbar {
    --background: #3880ff;
  }

//   <>
.container-inicio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container-inicio #guide{
    font-size: 0.95rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: rgb(47, 47, 47);
    max-width: 80%;
    margin: 0 auto;
}

.grid-option{
    display: grid;
    grid-template-columns: repeat(3, 80px) ;
    grid-template-rows: repeat(2, auto-fit) ;
    column-gap: 16px;
}

.grid-option .option ion-button{
    max-width: 80px;
}

.grid-option .option ion-button ion-grid ion-icon{
    display: block;
    margin: auto;
}

.grid-option .option ion-button .option-name{
    font-size: 8px;
}