<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CouteauApp - Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-inicio">
    <div id="guide">Selecciona una de las siguientes opciones:</div>
    <div class="grid-option">
      <div class="option" id="option1">
        <ion-button href="/gpredictor" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="transgender-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">Predictor de genero</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>
      <div class="option" id="option2">
        <ion-button href="/epredictor" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="accessibility-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">Predictor de edad</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>

      <div class="option" id="option3">
        <ion-button href="/buniversidad" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="school-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">Listado de univ.</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>

      <div class="option" id="option4">
        <ion-button href="/climainfo" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="cloud-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">Clima ahora</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>

      <div class="option" id="option5">
        <ion-button href="/wordpress" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="copy-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">WordPress page</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>

      <div class="option" id="option6">
        <ion-button href="/acerca" class="ion-text-wrap">
          <ion-grid>
            <ion-row>
              <ion-icon size="large" name="information-circle-outline"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="option-name">Acerca de</p>
            </ion-row>
          </ion-grid>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
